.container {
  margin-top: 25px;
  max-width: 1200px;
}

.grid {
  color: white;
  display: flex;
}

.sidebar {
  flex: 1;
  margin-right: 12px;
}

.main {
  flex: 6;

  .browseAll-link {
    padding: 5px 0 0 35px;
    a {
      font-size: 14px;
      color: $browser_all;
      text-decoration: underline;
    }

  }
}
