$themes: (
  light: (
    backgroundColor: $lightBackground,
    logoTextColor: $dark,
    logoSvgFill: $dark,
    navBarSeparator: $dark,
    dropDownBackground: $white,
    dropDownOption: $dark,
    sideBarBackground: $sideBarGrey,
    corner-box-border: $dark,
    color-background: $lightBackground,
    backgroundInfoBlock: $grey,
    titleInfoBlock: $textColor,
    searchBackground: $searchBackgroundLight,
    searchDecoration: url('../../assets/Bitmap_StripSmall.svg'),
    tableTextColor: $searchColor,
    titleDescColor: $textColor,
    countTextColor: $countBlockTextColor,
    countBlockTextColor: $countBlockTextColor,
    detailsPageTextColorValue: $hashColor,
    detailsPageTextColorName: $textColor,
  ),
  dark: (
    backgroundColor: $dark,
    logoTextColor: $white,
    logoSvgFill: $white,
    navBarSeparator: $white,
    dropDownBackground: $dark,
    dropDownOption: $white,
    sideBarBackground: $darkBackground,
    corner-box-border: $white,
    color-background: $dark,
    backgroundInfoBlock: $darkBackground,
    titleInfoBlock: $white,
    searchDecoration: url('../../assets/Bitmap_StripSmall_Invert.svg'),
    searchBackground: $searchBackgroundDark,
    tableTextColor: $white,
    titleDescColor: $white,
    countTextColor: $white,
    countBlockTextColor: $countBlockTextColor,
    detailsPageTextColorValue: $white,
    detailsPageTextColorName: $white
  )
);
