@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,500&display=swap');
@import "./utilities/variables";

@import "./themes/color-palette";

// Mixins
@import "./mixins/theme-aware";

// Fonts
@import "./fonts/fonts";

// Utilities
@import "./utilities/base";
@import "./utilities/typography";

// atoms
@import "./components/atoms/logo";
@import "./components/atoms/navbar";
@import "./components/atoms/switcher";
@import "./components/atoms/dropdown";

//organisms
@import "./components/organisms/search";

// Components
@import "./components/common/cornerBoxLayout";
@import "./components/common/sidebarMenu";
@import "./components/common/infoBlock";
@import "./components/common/titleBlock";
@import "./components/common/countBlock";
@import "./components/common/table";
@import "./components/common/txnsStatus";
@import "./components/common/details";
@import "./components/common/copyButton";
@import "./components/common/amountBlock";
@import "./components/common/page";
@import "./components/common/timeBlock";
@import "./components/common/nodata";
@import "./components/common/rightColumn";
@import "./components/common/customTimeAgo";

// Pages
@import "./pages/pageContainer";
@import "./pages/page";

// Layout
@import "./components/layout";
@import "./components/header";

