.countBlock {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 2fr;
  padding: 15px 10px;
  margin-left: 15px;

  &-number {
    font-size: 60px;
    line-height: 47px;
    justify-self: center;
    align-self: end;
  }

  &-unit {
    font-size: 12px;
    align-self: end;
    text-transform: uppercase;
    @include theme-aware('color', 'countBlockTextColor');
  }

  &-badge {
    display: grid;
    align-self: end;
    justify-self: center;
  }

  &-time {
    font-size: 12px;
    align-self: end;
    justify-self: end;
    text-align: end;
    text-transform: uppercase;
    @include theme-aware('color', 'countTextColor');
  }
}
