.details {
  font-size: 16px;
  color: $textColor;
  @include theme-aware('background-color', 'searchBackground');

  &-list {
    max-width: 100%;
    padding: 14px 18px 14px 24px;
    list-style: none;

    .item {
      padding: 10px 0;
      &-name {
        padding-right: 5px;
        @include theme-aware('background-color', 'searchBackground');
      }

      &-value {
        position: relative;
        color: $hashColor;
        float: right;
        padding-left: 5px;
        @include theme-aware('background-color', 'searchBackground');
      }
    }

    .item:before {
      float: left;
      width: 0;
      white-space: nowrap;
      content:
      "................................................."
      "................................................."
    }
  }
}
