.sidebarMenu {
  padding: 10px 0;
  margin-bottom: 10px;
  @include theme-aware('background-color', 'sideBarBackground');

  &-list {
    list-style: none;

    .item {
      font-size: 14px;
      text-transform: uppercase;
      padding: 3px 20px;

      &-link {
        display: flex;
        color: $menuGrey;

        .icon {
          margin-right: 5px;
            svg {
              fill: $menuGrey;
            }
        }
      }

      &-link:hover, .active {
        &.overview {
          color: $overviewColor;
          .icon {
            svg {
              fill: $overviewColor;
            }
          }
        }
        &.epochs {
          color: $epochColor;
          .icon {
            svg {
              fill: $epochColor;
            }
          }
        }
        &.layers {
          color: $layerColor;
          .icon {
            svg {
              fill: $layerColor;
            }
          }
        }
        &.txns {
          color: $transactionColor;
          .icon {
            svg {
              fill: $transactionColor;
            }
          }
        }
        &.rewards {
          color: $rewardsColor;
          .icon {
            svg {
              fill: $rewardsColor;
            }
          }
        }
        &.address {
          color: $accountsColor;
          .icon {
            svg {
              fill: $accountsColor;
            }
          }
        }
        &.apps {
          color: $smartWalletColor;
          .icon {
            svg {
              fill: $smartWalletColor;
            }
          }
        }
        &.smesher {
          color: $overviewColor;
          .icon {
            svg {
              fill: $overviewColor;
            }
          }
        }
      }
    }
  }
}
